Code/Server/Collection/balades.DTD

<!ELEMENT BALADE (PRESENTATION, RECIT, COMPLEMENTS?)>
<!ELEMENT PRESENTATION (TITRE, AUTEUR?, DATE?, DESCRIPTION?)>
<!ELEMENT DESCRIPTION (P+)>
<!ELEMENT P (#PCDATA|LISTE)*>
<!ELEMENT AUTEUR (#PCDATA)>
<!ELEMENT RECIT (SEC|P|PHOTO)*>
<!ELEMENT SEC (SOUS-TITRE?, (P|PHOTO)+)>
<!ELEMENT SOUS-TITRE (#PCDATA)>
<!ELEMENT COMPLEMENTS (INFO+)>
<!ELEMENT INFO (#PCDATA|LISTE)*>
<!ELEMENT LISTE (ITEM+)>
<!ELEMENT ITEM (#PCDATA)>
<!ELEMENT TITRE (#PCDATA)>
<!ELEMENT DATE (#PCDATA)>
<!ELEMENT PHOTO (#PCDATA)>
